<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial - {% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        Tutorial Application
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        Copyright NeuralNine &copy; 2025
    </footer>
</body>
</html>
